*{
	margin: 0;
	padding: 0;
	word-break: keep-all;
	background-color: black;
}
h1{ padding: 10px;
	color: white;
	margin-bottom: 50px;
}
h2{
	color: white;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
img{justify-content: center;}

li{
	list-style: none;
	padding-bottom: 30px;
}
.li1{
	width: 1000px;
}